<head>
  {%include 'bootstrap.html'%}
</head>
<body>
  {%include 'banner.html'%}
<h4>Send me Message</h4>
<form action="/message_submitted" , method="post">
  <div class = mb-2>
    <lable>Full name</lable><br>
    <input type = "text" name = "full_name" placeholder = "Turki Alkhaldi">
  </div>

  <div class = mb-2>
    <label>Email</label><br>
    <input type = "text" name = "email" placeholder = "xcqsnew@gmail.com">
  </div>

  <div class = mb-2>
    <label>Message</label><br>
    <textarea type = "text" name = "message"></textarea>
  </div>
  <input type="submit" value="Send">
</form>
  </body>