<!DOCTYPE html>
<html>
  <head
    {%include "bootstrap.html"%}
    <title>Turki Portfolio</title>
    
  </head>
<body>
  <div class = "container">
  <h1 class = "text-center mt-2 mb-4">Turki area </h1>
    {%include "banner.html"%}
<h1 class = "text-center m-2 m-4">about me</h1>
  <p class = "lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
<h2 class = "text-center mt-2 mb-4">MY project</h2>  
<div>
  {% for st in projects %}
   {% include "projectslist.html" %}
  {% endfor %}
</div>
<div class = "text-center">
  <button class="btn btn-primary btn-lg" 
    onclick = 'window.location.href = "/massage";''>Contact me</button>
<p class = "mt-4">Copyright 2023,Turki Al-khaldi</p>
</div>
  </div>
</body>
</html>